/EjerciciosSemana1/Semana1Dia1/nbproject/private/
/EjerciciosSemana1/Semana1Dia1/build/
/EjerciciosSemana1/Dia1/nbproject/private/
/EjerciciosSemana1/Dia1/build/
/JavaBasico/EjerciciosSemana2/Clase5/Ejercicio1/nbproject/private/
/JavaBasico/EjerciciosSemana2/Clase5/Ejercicio1/build/
/JavaBasico/EjerciciosSemana2/Clase5/Ejercicio2/nbproject/private/
/JavaBasico/EjerciciosSemana2/Clase6/Ejercicio1/nbproject/private/
/JavaBasico/EjerciciosSemana2/Clase6/Ejercicio1/build/
/JavaBasico/EjerciciosSemana2/Clase6/Ejercicio2/nbproject/private/
/JavaBasico/EjerciciosSemana2/Clase6/Ejercicio2/build/
/JavaBasico/EjerciciosSemana2/Clase7/Ejercicio1/target/
/JavaBasico/EjerciciosSemana2/Clase7/Ejercicio2/target/
/JavaBasico/EjerciciosSemana2/Clase5/Ejercicio2/build/
